---
import Dog from "../components/Dog.astro";
import Title from "../components/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About" description="About page of Yow!">
  <p transition:name="tagline">About page</p>

  <Title />

	<div class="image-container">
		<Dog />
	</div>
</BaseLayout>

<style>
	.image-container {
		width: 500px;
	}
</style>