---
import Dog from "../components/Dog.astro";
import Title from "../components/Title.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" description="Home page of Yow!">
	<div class="container">
		<Title />

		<p>Home page of Yow!</p>

		<div style="width: fit-content;">
			<Dog />
		</div>
	</div>
</BaseLayout>

<style>
	.container {
		background-color: #f1f1f1;
	}
</style>