---
import BaseHead from "../components/BaseHead.astro";

type FrontMatter = {
  title: string
  description?: string
}

interface Props {
  frontmatter: FrontMatter
}

const { frontmatter } = Astro.props
const { title, description } = frontmatter
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <p>markdown layout</p>

    <slot />
  </body>
</html>